@import 'ersao.variables';

input, textarea, select{
	font-family:'Eras', Arial, Helvetica, sans-serif;
	background-color:#F8F8F8;
	border:1px solid #DDDDDD;
	padding:7px;
	width:100%;

	&._auto{
		width:auto;
	}
}

textarea{
	min-height:100px;
	max-width:100%;
	min-width:100%;
}

.selectric-wrapper{
	.selectric{
		.label{
			@include fontSize(0.95);
			padding:7px 4px;
		}
	}

	.selectric-items{
		ul{
			@include fontSize(1);
		}

		li{
			padding:8px 15px;
			@include fontSize(0.85);
		}
	}
}

button{
	font-family:'Eras', Arial, Helvetica, sans-serif;
	border:0;
	padding:10px 15px;
}

button.w100{
	display:block;
	width:100%;
}

.form-desc{
	@include fontSize(0.95);
}


.form-section{
	display:inline-block;
	width:50%;
}

.form-section.w100{
	display:block;
	width:100%;
}

.contact-form-box{
	position:relative;
	background-color:#fff;
	margin:50px 0;

	.contact-form{
		padding:10px;
		width:40%;

		.form-info{
			padding:0 10px 10px;
		}

		h1{
			margin:0;
			@include fontSize(3);
			font-weight:400;
		}

		.form-section{
			padding:10px;
		}

		input, textarea{
			@include fontSize(0.9);
		}

		button{
			font-weight:600;
			color:#fff;
		}
	}

	.contact-image{
		position:absolute;
		top:0;
		right:0;
		height:100%;
		width:60%;
		background-size:cover;
		background-image:url(../img/still_3.jpg);
	}
}

.home-branch-form{
	width:100%;
	padding:10px;

	.form-info{
		padding:0 10px 10px;
	}

	.form-section{
		padding:10px;
	}

	.selectric-wrapper{
		.selectric{
			.label{
				@include fontSize(0.95);
				padding:7px 4px;
			}
		}

		.selectric-items{
			ul{
				@include fontSize(1);
			}

			li{
				padding:8px 15px;
				@include fontSize(0.85);
			}
		}
	}

	.branch-info{
		margin-top:15px;

		h2{
			margin:0;
			font-weight:400;
			@include fontSize(1.25);
		}

		.address{
			margin:5px 0;
			@include fontSize(0.9);
		}

		.phone{
			@include fontSize(0.9);
		}
	}
}





