@font-face {
  font-family: 'Eras';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/eras_medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Eras';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/eras_demi.ttf) format('truetype');
}

@font-face {
  font-family: 'Eras';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/eras_bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Eras';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/eras_ultra.ttf) format('truetype');
}

@font-face {
  font-family: 'Eras';
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/eras_light.ttf) format('truetype');
}